__pycache__/
*.pyc
venv/
.env
node_modules/
dist/
backend/storage/uploads/*
backend/storage/faiss/*
!backend/storage/uploads/.gitkeep
!backend/storage/faiss/.gitkeep
test.db
*.tsbuildinfo
backend/documind.db
